@charset "utf-8";
/*
=======================================
	Reset CSS
=======================================
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, main, menu, nav, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,
footer,header,main,menu,nav,section{
	display:block;
}

html{
	-webkit-text-size-adjust: 100%;
}

body{
	line-height: 1.5;
	font-size: 14px;
	font-family: sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;　
}

a{
	color: #008800;
	text-decoration: none;
	transition: 0.5s;
}

a:hover{
	color: #00DD00;
}

a:hover img{
	opacity: 0.7;
}

img{
	border: 0;
	max-width: 100%;
	height: auto;
}

ul,ol{
	list-style-type: none;
}

table {
	border-collapse: collapse; 
	border-spacing: 0;
}

img, input, select, textarea { 
	vertical-align: middle;
}


/*	clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
   content: "";
   display: block;
   clear: both;
}

.clearfix { *zoom:1; } /*for IE6,IE7*/


/*--------------------------

　版面設計

---------------------------*/


/* 頁首
---------------------------*/

#header{
	padding: 1.5% 0;
	text-align: center;
	position: relative;
	background-color: #008800;
}

#header #logo{
	width: 300px;
	height: 100px;
	background-image: url(../img/logo.png);
	background-size: cover;
	float: left;
}

#header .icon-menu{
	float: right;
	color: #fff;
	font-size: 35px;
}

#header .icon-menu:hover{
	color: #cee739;
}

@media screen and (min-width: 750px){

	#header #logo{
		margin: 0 auto;
		width: 300px;
		height: 100px;
		background-image: url(../img/logo.png);
		background-size: cover;
		float: none;
	}

	#header .icon-menu{
		display: none;
	}
}

@media screen and(-wedkit-min-device-pexel-ratio: 2),(min-resolution: 2dppx){
	#header #logo{
		background: url(../img/logo@2x.png) no-repeat;
		background-size:contain; 
	}
}

/* 首尾
---------------------------*/

#footer{
	clear: both;
	background: #E0E0E0;
}

.sns{
	display: inline-block;
	margin-top: 10px;
}

.sns li{
	display: inline-block; 
}

.sns a{
	
	font-size: 24px;
	text-decoration: none;
	padding: 10px 20px 10px 0;
}

.copyright{
	float: left;
	padding-bottom: 10px; 
}

@media screen and (min-width: 750px){
	#footer{
		text-align: center;
		clear: both;
	}

	.sns {
		float: left;
	}

	.copyright{
		float: right;
	}
}

/* 主功能
---------------------------*/

#gnav{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 3;
	padding:0 12.5% 0 12.5%;
	left: 0;
	top: 0;
	height: 100%;
	width: 25%;
}

#gnav_span{
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 3;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
}

#gnav ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 75%;
}

#gnav li{
	border-bottom: 1px solid #cee739;
}

#gnav a{
	display: block;
	font-size: 15px;
	color: #fff;
}

#gnav a:hover{
	background: #cee739;
}

@media screen and (min-width: 750px){
	
	#gnav{
		position: static;
		height: auto;
		width: auto;
	}

	#gnav ul{
		position: static;
		overflow: hidden;
		margin: 0 auto;
	}

	#gnav li{
		float: left;
		width: 33%;
		text-align: center;
		border-right: 1px solid #cee739;
		border-bottom: none;
		
	}

	#gnav li:first-child{
		border-left: 1px solid #cee739;
	}

	#gnav a{
		padding: 15px 0;
		font-size: 18px;
	}

	#gnav_span{
		display: none;
	}
}

/* 內容區塊
---------------------------*/


#main{
	padding-top: 50px; 
}

#main h2{
	text-align: left;
	margin: 10px 0;
	border-bottom: 1px solid #000;
}

h2 a{
	position: absolute;
	z-index: 2;
}


/*動物分類標題*/
.classify{
	border: 2px solid #cee739;
	border-radius: 0 30px 0 0;
	margin: 50px 0;
	background: #fff;
}

.classify p, .classify ul{
	text-align: center;
	padding: 50px 0;
}

.classify h3{
	text-align: left;
	border-bottom: 2px solid #cee739;
	position: relative;
}

.classify h3 img{

	max-width: 300px;
	height: auto;
	margin-left: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.classify h3 a{

	background: #cee739;
	padding: 0.25em 0.5em;
	position: relative;
	z-index: 1;
	border-radius: 0 30px 30px 0;
}

/*動物筆記敘述*/
.data{
	clear: both;
	max-width: 100%;
	background-color:rgba(0,0,0,0.5);
	color: #fff;
}

.data dt{
	float: left;
}

.name{
	position: absolute;
	top: 0;
	z-index: 1;
}

.info{
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.notes{
	border-bottom: 1px solid #cee739;
	display: inline-block;
	position: relative;
}

@media screen and (min-width: 750px){
	#main h2{
		text-align: center;
	}

	.data{
		opacity: 0;
	}

	.notes:hover .data{
		opacity: 1;
		-webkit-transition: all 1s 0s;
		transition: all 1s 0s;
	}
}

/* 麵包屑導航
---------------------------*/



/* 回頁面上方
---------------------------*/



.top{
	position: fixed;
	z-index: 3;
	right: 0;
	bottom: 25px;
}

.top a{
	border: 1px solid #008800;
	background: #fff;
	border-radius: 50px;
	padding: 25px;
	opacity: 0.5;
}

.top a:hover{
	opacity: 1;
}





/*--------------------------

　共通樣式

---------------------------*/

.container{
	max-width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	position: relative;

}

.container:after{
	content: "";
	display: block;
	clear: both;
}


/*照片
---------------------------*/

.photo{
	width: 640px;
}

.data{
	width: 640px;
}

/*動畫效果*/

.hide{
	display: none;
}

@media screen and (min-width: 750px){
	
	.hide{
		display: block;
	}
}

/*icon*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qbug52');
  src:  url('fonts/icomoon.eot?qbug52#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qbug52') format('truetype'),
    url('fonts/icomoon.woff?qbug52') format('woff'),
    url('fonts/icomoon.svg?qbug52#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e9a4";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube2:before {
  content: "\ea9e";
}
